input{
    border: 5px;;
    padding: 8px;
    font-size: 15px;
    }
input[type="submit"]{
    background: blue;
    color: rgb(227, 229, 233);
    }
P { 
    text-indent: 1.0em; 
    text-align:justify; 
       }
body{
    background-color: rgb(197, 205, 209);
    color: rgb(43, 37, 37);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    }
    #menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 2px solid #0066FF;
    border-radius: 20px 5px;
    text-align: center;
    background-color: #33ADFF;
  }
  #menu li { display: inline; }
  #menu a {
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 300px;
  }
  #menu a:hover {
    border-radius: 20px 5px;
    background-color: #0066FF;
  }
  .style1 {
    font-size: small;color: rgb(97, 20, 220);
   }
   .style2 {
    font-family: Arial, Helvetica, sans-serif;color: blue;font-size: large;
    text-align: center;
   }
   .img{
    float: right;
    margin-right: 15px;
   }
   .style_end {
    color: rgb(0, 0, 0);;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
    margin-left: 10px;
   }
   .back{
       font-family: Georgia, 'Times New Roman', Times, serif;
       color: rgb(3, 0, 0);
   }
   .tab {
      margin-left: 15px;
      margin-right: 15px; 
    }
    .type {
      font-family:Arial, Helvetica, sans-serif;
      font-size: 13pt;
    }
    .limg {
      float:left; 
      margin: 7px 7px 7px 0; 
     }
     .rimg  {
      float: right; 
      margin: 7px  7px 7px; 
     }
.widget {
  padding: 10px 10px;
  font-family: 'Roboto', sans-serif;
  opacity: 0.8;
  background-color: rgb(17, 177, 240);
  height: 3505px;
  margin-left: 35px;
}
.widget-title {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding-left: 15px;
  margin-bottom: 15px;
  border-left: 3px solid #1139ec;
}
.widget-list {
  padding: 0;
  list-style: none;
}
.widget-list a:before {
  content: "\2014";
  margin-right: 10px;
}
.widget-list a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 6px 0; 
  letter-spacing: 1px;
  font-weight: 10;
  color: rgb(10, 1, 1);
  transition: .3s linear;
}
.widget-list a:hover {color: #111fdf;}
.vl {
  margin-right: 40px;
  border-right: 2px solid rgb(17, 177, 240);
  height: 3600px;
}
#go-top {
  position: fixed; 
  bottom: 50px; 
  right: 50px;
  text-align: center;
  cursor:pointer; 
  display:none;
  width: 90px;
  height: 30px;
  background: #1c75da;
  line-height: 30px;
  border-radius: 5px;
}

#go-top:hover {
  background: rgb(8, 0, 0);
  color: #fff;
}
.imgend{
  margin-left: 35px;
  background-image:url(https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-blue-simple-graphics-replace-image_6573.jpg)
}